# Data Science Tools and Ecosystem

# Introduction

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* Identify essential tools used in a Data Science workflow.
* Explain the role of Python, R, and SQL in Data Science.
* Understand the difference between code and text/notes in a notebook environment.

# Popular Languages that Data Scientist Use

1. Python
2. R
3. SQL

# Libraries Used by Data Scientists

1. Numpy
2. Pandas
3. Matplotlib

# Table of Data Science tools

  | S/N | Tools   |
  | ----| --------|
  | 1   | Jupyter |
  | 2   | Tableau |
  | 3   | PyTorch |

### Introducing Arithmetic Expressions

In [ ]:
Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

x = (3*4)+5
print(x)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

# 60 minutes = 1 hour  # Descriptive comment
# 200 minutes = y      # Descriptive comment

y = (200 * 1) / 60

print(y)

3.3333333333333335

## Author
Mary Oluropo